<h2>1. Import Libraries:</h2>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

<h2>2. Load Dataset:</h2>

In [3]:
df = pd.read_csv('C:\\Users\\User\\Desktop\\ANNchurn\\Credit-Risk-Analyzer-master\\credit_data.csv')

In [4]:
df.head()

,age,gender,education,occupation,organization_type,seniority,annual_income,disposable_income,house_type,vehicle_type,marital_status,no_card,default
0,19,Male,Graduate,Professional,None,None,186319,21625,Family,None,Married,0,1
1,18,Male,Under Graduate,Professional,None,None,277022,20442,Rented,None,Married,0,1
2,29,Male,Under Graduate,Salaried,None,Entry,348676,24404,Rented,None,Married,1,1
3,18,Male,Graduate,Student,None,None,165041,2533,Rented,None,Married,0,1
4,26,Male,Post Graduate,Salaried,None,Mid-level 1,348745,19321,Rented,None,Married,1,1

In [5]:
df.columns[12]

'default'

In [6]:
gender_lebel = df.groupby(['gender'])['default'].mean().sort_values().index

In [7]:
enumerate(gender_lebel,0)

In [8]:
gender_lebel = df.groupby(['gender'])['default'].mean().sort_values().index
enumerate(gender_lebel,0)
gender_lebel2 = {k:i for i,k in enumerate(gender_lebel,0)}
print(gender_lebel2)

{'Female': 0, 'Male': 1}

In [9]:
education_lebel = df.groupby(['education'])['default'].mean().sort_values().index
enumerate(education_lebel,0)
education_lebel2 = {k:i for i,k in enumerate(education_lebel,0)}
print(education_lebel2)

{'Graduate': 0, 'Post Graduate': 1, 'Other': 2, 'Under Graduate': 3}

In [10]:
occupation_lebel = df.groupby(['occupation'])['default'].mean().sort_values().index
enumerate(occupation_lebel,0)
occupation_lebel2 = {k:i for i,k in enumerate(occupation_lebel,0)}
print(occupation_lebel2)

{'Salaried': 0, 'Business': 1, 'Professional': 2, 'Student': 3}

In [11]:
organization_type_lebel = df.groupby(['organization_type'])['default'].mean().sort_values().index
enumerate(organization_type_lebel,0)
organization_type_lebel2 = {k:i for i,k in enumerate(organization_type_lebel,0)}
print(organization_type_lebel2)

{'Tier 1': 0, 'Tier 2': 1, 'Tier 3': 2, 'None': 3}

In [12]:
seniority_lebel = df.groupby(['seniority'])['default'].mean().sort_values().index
enumerate(seniority_lebel,0)
seniority_lebel2 = {k:i for i,k in enumerate(seniority_lebel,0)}
print(seniority_lebel2)

{'Mid-level 2': 0, 'Senior': 1, 'Mid-level 1': 2, 'Entry': 3, 'None': 4, 'Junior': 5}

In [13]:
house_type_lebel = df.groupby(['house_type'])['default'].mean().sort_values().index
enumerate(house_type_lebel,0)
house_type_lebel2 = {k:i for i,k in enumerate(house_type_lebel,0)}
print(house_type_lebel2)

{'Owned': 0, 'Company provided': 1, 'Rented': 2, 'Family': 3}

In [14]:
vehicle_type_lebel = df.groupby(['vehicle_type'])['default'].mean().sort_values().index
enumerate(vehicle_type_lebel,0)
vehicle_type_lebel2 = {k:i for i,k in enumerate(vehicle_type_lebel,0)}
print(vehicle_type_lebel2)

{'Four Wheeler': 0, 'Two Wheeler': 1, 'None': 2}

In [15]:
marital_status_lebel = df.groupby(['marital_status'])['default'].mean().sort_values().index
enumerate(marital_status_lebel,0)
marital_status_lebel2 = {k:i for i,k in enumerate(marital_status_lebel,0)}
print(marital_status_lebel2)

{'Married': 0, 'Other': 1, 'Single': 2}

In [16]:
df['gender'] = df['gender'].map(gender_lebel2)
df['education'] = df['education'].map(education_lebel2)
df['occupation'] = df['occupation'].map(occupation_lebel2)
df['organization_type'] = df['organization_type'].map(organization_type_lebel2)
df['seniority'] = df['seniority'].map(seniority_lebel2)
df['house_type'] = df['house_type'].map(house_type_lebel2)
df['vehicle_type'] = df['vehicle_type'].map(vehicle_type_lebel2)
df['marital_status'] = df['marital_status'].map(marital_status_lebel2)

# random Forest

In [17]:
x = df.iloc[:, 0:12].values
y = df.iloc[:,-1].values

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [19]:
classifier = RandomForestClassifier()
classifier.fit(x_train, y_train)

RandomForestClassifier()

In [20]:
prediction = classifier.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,prediction)
print(score)

0.8591034755134281

In [22]:
from sklearn.model_selection import cross_val_score
rf_clf = RandomForestClassifier()
rf_clf.fit(x_train, y_train)
rf_clf.score(x_test, y_test)

0.8559439178515008

In [23]:
import pickle
pickle_out = open("Abinet.pkl","wb")
pickle.dump(rf_clf, pickle_out)
pickle_out.close()